/********
 * menu *
 ********/

@define-color menu_bg_dark_color shade(@theme_bg_dark_color, 0.40);

GtkTreeMenu.menu,
.toolbar .primary-toolbar .menu,
GtkMenuToolButton.menu,
.primary-toolbar .button .menu,
.menu {
    background-image: none;
    background-color: shade (@menu_bg_dark_color, 1.08);
    border-bottom-color: shade (@menu_bg_dark_color, 0.96);
    border-left-color: shade (@menu_bg_dark_color, 0.8);
    border-right-color: shade (@menu_bg_dark_color, 0.8);
    border-top-color: shade (@menu_bg_dark_color, 0.96);
    padding: 0;
    border-width: 1px;
    border-style: solid;

    color: @theme_fg_dark_color;

    box-shadow: inset 0 1px shade (@menu_bg_dark_color, 1.18),
                inset 0 -1px shade (@menu_bg_dark_color, 1.18),
                inset -1px 0 shade (@menu_bg_dark_color, 1.16),
                inset 1px 0 shade (@menu_bg_dark_color, 1.18);
}

.toolbar .menu,
GtkComboBox .menu {
    background-image: none;
    background-color: @theme_bg_color;
    border-bottom-color: shade (@theme_bg_color, 0.66);
    border-left-color: shade (@theme_bg_color, 0.7);
    border-right-color: shade (@theme_bg_color, 0.7);
    border-top-color: shade (@theme_bg_color, 0.8);
    border-style: solid;
    padding: 0;

    color: @theme_fg_color;

    box-shadow: inset -1px  0   shade (@theme_bg_color, 1.18),
                inset  1px  0   shade (@theme_bg_color, 1.18),
                inset  0    1px shade (@theme_bg_color, 1.18);
}

.menu:selected {
    background-color: @selected_bg_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button
/*.primary-toolbar .menu.button:hover,
.primary-toolbar .menu.button:active,
.primary-toolbar .menu.button:active:insensitive,
.primary-toolbar .menu.button:insensitive,
.primary-toolbar .menu.button */
{
    background-color: shade (@menu_bg_dark_color, 1.08);
    background-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px;
}

/***********
 * menubar *
 ***********/
.menubar {
   -GtkWidget-window-dragging: true;

    /* linea 3D  (oscura) */
	box-shadow: inset  0px -1px shade(@theme_bg_dark_color, 0.43);

    /* linea 3D (clara) */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-radius: 0px;
    border-bottom-color:  shade(@theme_bg_dark_color, 0.65);

    background-color: shade (@theme_bg_dark_color, 0.58);

    color: @theme_fg_dark_color;
    text-shadow: 0 -1px shade (@menu_bg_dark_color, 0.6);
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 0.90)),
                                     to   (shade(@theme_selected_bg_color, 1.00)));
    /*box-shadow: inset 0 -1px shade (@menu_bg_dark_color, 0.95);*/
    box-shadow: none;

    color: shade (@theme_fg_dark_color, 1.1);
    text-shadow: 0 -1px shade (@menu_bg_dark_color, 0.7);
}

/************
 * menuitem *
 ************/
/*.menuitem {
    color: @theme_fg_color;
}*/

.menuitem {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    padding: 3px 2px 3px 2px;

    text-shadow: none;
}

.menuitem {
    /*color: @theme_fg_dark_color;*/
}

/* Workaround for lp:949368 */
GtkComboBox .menuitem * {
    color: @theme_fg_color;
}

GtkComboBox .menuitem *:hover {
    color: @selected_fg_color;
}

.menuitem:hover,
.menu .menuitem:hover {
    border-radius: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.00)),
                                     to   (shade(@theme_selected_bg_color, 1.10)));

    border-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.00)),
                                     to   (shade(@theme_selected_bg_color, 1.10))) 1;



    color: @theme_selected_fg_color;
   	text-shadow: 0px 1px @theme_selected_shadow_color;
}

.menuitem.check:active,
.menuitem.radio:active {
    color: @theme_fg_color;
}

.menu .menuitem.check:hover,
.menu .menuitem.radio:hover {
    box-shadow: none;
}

/*.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (@theme_fg_color, @theme_bg_color, 0.5);
    text-shadow: 0 1px shade (@theme_bg_color, 1.14);
}
*/
GtkTreeMenu.menu .menuitem:insensitive,
GtkTreeMenu.menu .menuitem *:insensitive,
.toolbar .primary-toolbar .menu .menuitem:insensitive,
.toolbar .primary-toolbar .menu .menuitem *:insensitive,
GtkMenuToolButton.menu .menuitem:insensitive,
GtkMenuToolButton.menu .menuitem *:insensitive,
.primary-toolbar .button .menu .menuitem:insensitive,
.primary-toolbar .button .menu .menuitem *:insensitive,
.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (@theme_fg_dark_color, @menu_bg_dark_color, 0.5);
    text-shadow: 0 -1px shade (@menu_bg_dark_color, 0.6);
}

.toolbar .menu .menuitem:insensitive,
.toolbar .menu .menuitem *:insensitive,
GtkComboBox .menu .menuitem:insensitive,
GtkComboBox .menu .menuitem *:insensitive {
    color: mix (@theme_fg_color, @theme_bg_color, 0.5);
    text-shadow: 0 1px shade (@theme_bg_color, 1.14);
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
    background-color: @menu_bg_dark_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: @theme_fg_dark_color;
}

.menuitem GtkCalendar {
    background-color: shade (@menu_bg_dark_color, 1.3);
    background-image: none;
}

.menuitem .entry {
    background-color: shade (@menu_bg_dark_color, 1.3);
    background-image: none;

    color: @theme_fg_dark_color;

    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@menu_bg_dark_color, 0.75)),
                                 to (shade (@menu_bg_dark_color, 0.9))) 1;
    border-image-width: 1px;
}

/*
.primary-toolbar GtkScale.trough,
.primary-toolbar GtkScale.trough:backdrop,
.menuitem GtkScale.trough {
    background-color: @menu_bg_dark_color;
    background-image: none;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@menu_bg_dark_color, 0.75)),
                                 to (shade (@menu_bg_dark_color, 1.15))) 1;
    border-image-width: 1px;
}
*/

.menuitem .accelerator {
    color: alpha (@theme_fg_dark_color, 0.5);
}

.menuitem .accelerator:hover {
    color: alpha (@selected_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
    color: alpha (mix (@theme_fg_dark_color, @menu_bg_dark_color, 0.5), 0.5);
    text-shadow: 0 -1px shade (@menu_bg_dark_color, 0.7);
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 1;

	/* border-color: shade (@menu_bg_color, 0.90);
    -unico-inner-stroke-color: alpha (shade (@menu_bg_color, 1.18), 0.6); */

    border-image: -gtk-gradient (linear,
							left top, right top,
							from (alpha (#000, 0.00)),	
							color-stop (0.25, alpha (#000, 0.05)),
							color-stop (0.85, alpha (#000, 0.05)),
							to (alpha (#000, 0.00))) 1;


}

