[Desktop Entry]
Charset=
Hidden=false
Keys=archlinuxwiki,arch
Name=Arch Linux Wiki
Query=https://wiki.archlinux.org/index.php?search=\\{@}
Type=Service
