[Desktop Entry]
Exec=/home/ar/.dotfiles/public/.bin/tmux-scratchpad
Icon=application-x-shellscript
Name=tmux-scratchpad
Type=Application
X-KDE-AutostartScript=true
