[Desktop Entry]
Name=ssh-mars
Comment=ssh mars
Type=Application
Icon=Alacritty
Exec=alacritty --title ssh-mars --class ssh-mars --command zsh -ic 'ssh -t mars tmux-attach'
