[Unit]
Description=undervolt gpd win 2 - suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/home/ar/.dotfiles/public/scripts/hosts/deimos/undervolt-deimos

[Install]
WantedBy=sleep.target
