* {
    font-family: monospace;
    font-size: 12pt;
    color: #d8d8d8;
}

menu {
    background-color: #181818;
    border: 2px solid #383838;
}

window#waybar {
    color: #d8d8d8;
    background-color: #181818;
}

#workspaces button {
    padding: 0 0.25em;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    background-color: #383838;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 1.25em;
}

#tray {
    padding-left: 1.25em;
    padding-right: 0.5em;
}

#window,
#workspaces {
    margin: 0 1em;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
