[Unit]
Description=set power setting for surface go touchscreen

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/pstate-frequency -S -m 100; echo on > /sys/devices/pci0000\:00/0000\:00\:15.1/i2c_designware.1/power/control; echo EHC1 > /proc/acpi/wakeup; echo EHC2 > /proc/acpi/wakeup; echo XHC > /proc/acpi/wakeup'

[Install]
WantedBy=multi-user.target
WantedBy=sleep.target
