[Unit]
Description=fix surface go keyboard backlight not working after resume from suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'while true; do if rtcwake -m freeze -s 1; then break; fi done'

[Install]
WantedBy=suspend.target
