SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", PROGRAM="/usr/bin/v4l2-ctl --device /dev/%k --set-ctrl=backlight_compensation=0 --set-ctrl=brightness=132 --set-ctrl=contrast=127 --set-ctrl=exposure_auto=3 --set-ctrl=exposure_auto_priority=1 --set-ctrl=focus_absolute=10 --set-ctrl=focus_auto=0 --set-ctrl=gain=191 --set-ctrl=pan_absolute=0 --set-ctrl=power_line_frequency=2 --set-ctrl=saturation=79 --set-ctrl=sharpness=181 --set-ctrl=tilt_absolute=0 --set-ctrl=white_balance_temperature=3879 --set-ctrl=white_balance_temperature_auto=0 --set-ctrl=zoom_absolute=120"
