/*****************************
   gnome-shell apps settings
******************************/

TerminalWindow .notebook tab {
	padding: 2px 4px;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.53)),
                                     to   (shade(@theme_bg_dark_color, 0.50)));
	border-width: 1px;
	border-style: solid;
	border-image: none;

	border-top-color: 		shade(@theme_bg_dark_color, 0.53);
	border-left-color: 		@theme_mdi_border_color;
	border-right-color: 	@theme_mdi_border_color;
	border-bottom-color: 	@theme_mdi_border_color;

	box-shadow: none;
}

GeditWindow GtkPaned {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_dark_color, 0.48)),
                                     to   (shade (@theme_bg_dark_color, 0.43)));

	box-shadow:	inset  0px  2px alpha(#fff, 0.07),
                inset  0px  1px shade(@theme_mdi_border_color, 1.00);

}


GeditWindow .notebook tab {
	padding: 2px 4px;

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.48)),
                                     to   (shade(@theme_bg_dark_color, 0.47)));

    border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-top-color: 		shade(@theme_mdi_border_color, 0.90);
	border-left-color: 		shade(@theme_mdi_border_color, 0.90);
	border-right-color: 	shade(@theme_mdi_border_color, 0.90);
	border-bottom-color: 	shade(@theme_mdi_border_color, 0.90);
	border-image: none;

	box-shadow:	inset  0px  1px alpha(#fff, 0.07),
                inset  1px  0px alpha(#fff, 0.07),
                inset -1px  0px alpha(#fff, 0.07);
}


/* RemminaMain .menubar, */
Totem GtkWindow .menubar,
FrWindow .menubar,
EogWindow .menubar,
GeditWindow .menubar,
TerminalWindow .menubar,
NemoWindow .menubar {
    /* linea 3D  (oscura) */
	box-shadow: inset  0px -1px shade(@theme_bg_dark_color, 0.38);

    /* linea 3D (clara) */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-radius: 0px;
    border-bottom-color:  shade(@theme_bg_dark_color, 0.61);

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.58)),
                                     to   (shade(@theme_bg_dark_color, 0.53)));

}

/* RemminaMain .toolbar, */
FrWindow .primary-toolbar.toolbar,
EogWindow .primary-toolbar.toolbar,
EogWindow .primary-toolbar .toolbar,
GeditWindow .primary-toolbar.toolbar,
NemoWindow .primary-toolbar.toolbar {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.53)),
                                     to   (shade(@theme_bg_dark_color, 0.48)));

    border-bottom-color:  shade(@theme_bg_dark_color, 0.34);
	border-image: none;
}

TerminalWindow .menubar,
GeditWindow .primary-toolbar.toolbar {
    /* linea 3D  (oscura) */
	/* box-shadow: inset  0px -1px shade(@theme_bg_dark_color, 0.33); */
    box-shadow: none;

    /* linea 3D (clara) */
    /* border-bottom-color:  shade(@theme_bg_dark_color, 0.56);  */
    border-bottom-width: 0px;

}

