[Desktop Entry]
Name=tmux (sol)
Comment=tmux sol
Type=Application
Icon=foot
Exec=foot --title tmux-sol --app-id tmux-sol -- zsh -lic 'ssh -t sol tmux-attach'
