# keyboard backlight permissions
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="asus::kbd_backlight", ATTR{brightness}="0", GROUP="video", MODE="0664"

# tablet switch
SUBSYSTEM=="input", ENV{ID_PATH}=="platform-asus-nb-wmi", MODE="0666"
