polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.udisks2.ata-check-power" ||
	 action.id == "org.freedesktop.udisks2.ata-smart-update" ||
	 action.id == "org.freedesktop.udisks2.ata-standby" ||
	 action.id == "org.freedesktop.udisks2.cancel-job" ||
	 action.id == "org.freedesktop.udisks2.eject-media" ||
	 action.id == "org.freedesktop.udisks2.encrypted-change-passphrase" ||
	 action.id == "org.freedesktop.udisks2.encrypted-unlock" ||
	 action.id == "org.freedesktop.udisks2.filesystem-mount" ||
	 action.id == "org.freedesktop.udisks2.loop-setup" ||
	 action.id == "org.freedesktop.udisks2.modify-device" ||
	 action.id == "org.freedesktop.udisks2.power-off-drive" ||
	 action.id == "org.freedesktop.udisks2.rescan") &&
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
