<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>mpdkeys</string>
    <key>Program</key>
    <string>/Users/andrewr/.dotfiles/public/scripts/macos/start-mpdkeys</string>
    <key>StandardOutPath</key>
    <string>/tmp/mpdkeys.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mpdkeys.err.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
