[Unit]
Description=Certbot renew

[Service]
ExecStart=/home/ar/src/git.nullsum.net/nvllsvm/certs-nullsum.net/bin/renew_all.sh
SyslogIdentifier=certbot-renew
