[Unit]
Description=Run git-repo-backup

[Service]
ExecStart=/home/ar/.dotfiles/private/scripts/hosts/sol/git-host-backup
SyslogIdentifier=git-repo-backup
