[Unit]
Description=Run sol-sync-camera2

[Service]
ExecStart=zsh -lc sync-camera2.nullsum.lan --media-type mp4 --format-storage
SyslogIdentifier=sol-sync-camera2
