[Unit]
Description=Run sol-status-email

[Service]
ExecStart=sol-status-email
EnvironmentFile=/home/ar/.dotfiles/private/sol-status-email.env
SyslogIdentifier=sol-status-email
