[Unit]
Description=undervolt surface go
After=tlp.service
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/undervolt --core -120 --cache -120 --gpu -120

[Install]
WantedBy=multi-user.target
WantedBy=sleep.target
