[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osxmmkeys = {git = "https://github.com/nvllsvm/osxmmkeys.git"}
osxmpdkeys = "*"

[dev-packages]

[requires]
python_version = "*"
