[Unit]
Description=monitor lights
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/ar/.dotfiles/private/scripts/hosts/mars/monitor-lights on
ExecStop=/home/ar/.dotfiles/private/scripts/hosts/mars/monitor-lights off
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
