*
!/.gitignore
!/fan-off.svg
!/fan-plus.svg
!/fan.svg
!/floor-lamp-torchiere.svg
!/hass-lightbulb-off.svg
!/hass-lightbulb.svg
!/hass-speaker-off.svg
!/hass-speaker.svg
!/kde_application_launcher.svg
!/wardrobe.svg
